<div class="widgets-container">

  <!-- Search Widget -->
  <div class="search-widget widget-item">
    <h3 class="widget-title">Search</h3>
    <form action="{{ '/' | relative_url }}">
      <input type="text" name="q">
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div>


  <!-- Recent Posts Widget -->
  <div class="recent-posts-widget widget-item">
    <h3 class="widget-title">Recent Posts</h3>
    {% for post in site.posts limit:5 %}
    <div class="post-item">
      {% if post.image %}
      <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="flex-shrink-0">
      {% endif %}
      <div>
        <h4><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h4>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
