---
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Our Pricing | BizzNist</title>
  <meta name="description" content="Discover BizzNist, a leading IT solutions provider specializing in website development, app development, SEO, digital marketing, and more. Learn about our mission, vision, values, and expertise.">
  <meta name="keywords" content="IT solutions, website development, app development, SEO services, digital marketing, business IT consulting, BizzNist, professional IT services, technology solutions, IT support, eCommerce development, WordPress development, Shopify experts, Wix developers, business website solutions">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Updated: Nov 01 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

    {% include header.html %}

    <main class="main">

    <!-- Page Title -->
    <div class="page-title">
      <div class="heading" style="padding-bottom: 10px;">
        <!--<div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>About BizzNist</h1>
            </div>
          </div>
        </div>
      </div> -->
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Our Pricing</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->
    <div id="header-ad" class="ad-space"></div>
    <!-- Starter Section Section -->
<section id="pricing" class="pricing section" style="padding-top: 0px;">

      <!-- Section Title -->
      <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>Pricing</h2>
        <p>Our Pricing Plans<br></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
            <div class="pricing-tem">
              <h3 style="color: #20c997;">Starter Plan</h3>
              <div class="price"><small style="font-size: 19px;"><em>Starting from</em></small> <sup>₹</sup>4,999<span> / mo</span></div>
              <div class="icon">
                <i class="bi bi-box" style="color: #20c997;"></i>
              </div>
              <ul>
                <li>Business Website (Up to 5 Pages)</li>
                <li>Mobile-Responsive Design</li>
                <li>Basic SEO Setup</li>
                <li>Free SSL Certificate</li>
                <li>Contact Form Integration</li>
                <li class="na">E-commerce Features</li>
                <li class="na">Custom Website Design</li>
                <li class="na">Advanced SEO &amp; Digital Marketing</li>
              </ul>
              <a href="https://wa.me/919210481163?text=I%20am%20interested%20in%20the%20Starter%20Plan" target="_blank" class="btn-buy">Buy Now</a>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
            <div class="pricing-tem">
              <span class="featured">Featured</span>
              <h3 style="color: #0dcaf0;">Growth Plan </h3>
              <div class="price"><small style="font-size: 17px;"><em>Starting from</em></small> <sup>₹</sup>14,999<span> / mo</span></div>
              <div class="icon">
                <i class="bi bi-send" style="color: #0dcaf0;"></i>
              </div>
              <ul>
                <li>E-commerce Website</li>
                <li>Payment Gateway Integration</li>
                <li>SEO Optimization &amp; Analytics</li>
                <li>Basic Digital Marketing Setup</li>
                <li>WhatsApp Chat Integration</li>
                <li class="na">Custom App Development</li>
                <li class="na">Ad Management Services</li>
              </ul>
              <a href="https://wa.me/919210481163?text=I%20am%20interested%20in%20the%20Growth%20Plan" target="_blank" class="btn-buy">Buy Now</a>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
            <div class="pricing-tem">
              <h3 style="color: #fd7e14;">Enterprise Plan </h3>
              <div class="price"><small style="font-size: 17px;"><em>Starting from</em></small> <sup>₹</sup>29,999<span> / mo</span></div>
              <div class="icon">
                <i class="bi bi-airplane" style="color: #fd7e14;"></i>
              </div>
              <ul>
                <li>Fully Custom Website</li>
                <li>App Development (Android &amp; iOS)</li>
                <li>SEO + Paid Ad Management (Google, Meta)</li>
                <li>Website &amp; App Testing + Optimization</li>
                <li>Dedicated Project Manager</li>
              </ul>
              <a href="https://wa.me/919210481163?text=I%20am%20interested%20in%20the%20Enterprise%20Plan" target="_blank" class="btn-buy">Buy Now</a>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
            <div class="pricing-tem">
              <h3 style="color: #0d6efd;">Custom Plan</h3>
              <div class="price"><sup></sup>Contact Us for a Custom Quote<span> </span></div>
              <div class="icon">
                <i class="bi bi-rocket" style="color: #0d6efd;"></i>
              </div>
              <ul>
                <li>Fully Customized IT Solutions</li>
                <li>Advanced Web &amp; App Development</li>
                <li>Enterprise-Grade SEO &amp; Digital Marketing</li>
                <li>Multi-Platform Ad Management</li>
                <li>Ongoing Support &amp; Maintenance</li>
              </ul>
              <a href="https://wa.me/919210481163?text=I%20am%20interested%20in%20a%20Custom%20Plan" target="_blank" class="btn-buy">Contact Us</a>
            </div>
          </div><!-- End Pricing Item -->

        </div><!-- End pricing row -->

      </div>

    </section>

</section><!-- /Starter Section Section -->
<div id="before-footer-ad" class="ad-space"></div>
  </main>

    {% include footer.html %}

<!--    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
            <form action="forms/newsletter.php" method="post" class="php-email-form">
              <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your subscription request has been sent. Thank you!</div>
            </form>
          </div>
        </div>
      </div>
    </div> -->

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>          
