<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Bizznist Blog | Digital Marketing & Website Development Tips</title>
  <meta name="description" content="Read the latest insights on SEO, website design, IT solutions, and digital growth from the experts at Bizznist.">
  <<meta name="keywords" content="SEO tips, website development blog, digital marketing insights, IT resources">
  <link href="{{ '/assets/img/favicon.png' | relative_url }}" rel="icon">
  <link href="{{ '/assets/vendor/bootstrap/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/vendor/bootstrap-icons/bootstrap-icons.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet">

  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url }}"
  },
  "headline": "{{ page.title }}",
  "image": ["{{ page.image }}"],
  "author": {
    "@type": "Person",
    "name": "{{ page.author }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Bizznist",
    "logo": {
      "@type": "ImageObject",
      "url": "https://www.bizznist.com/logo.png"
    }
  },
  "datePublished": "{{ page.date }}",
  "dateModified": "{{ page.date }}"
}
</script>

   <script type='text/javascript' src='//wormdistressedunit.com/0a/29/6b/0a296bc48d714a706b5b1c92a678fa87.js'></script>
  
</head>
<body class="blog-page">

  {% include header.html %}

  <main class="main">
    {{ content }}
  </main>

  {% include footer.html %}

  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>

  <script src="{{ '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>

  <script type='text/javascript' src='//pl27688123.revenuecpmgate.com/a4/a0/e5/a4a0e5d0466ca41c2a7d78f1ab4dc22b.js'></script>
  
</body>
</html>

