---
layout: default
sitemap: false
robots: noindex
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ page.meta_title | default: page.title }} | {{ site.title }}</title>
<meta name="description" content="{{ page.meta_description | default: site.description }}">
<meta name="keywords" content="{{ page.meta_keywords | join: ', ' }}">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
{% seo %}


  <!-- SEO -->
  {% seo %}

  <!-- Favicon -->
  <link href="https://www.bizznist.com/assets/img/favicon.png" rel="icon">

  <!-- Vendor CSS Files -->
  <link href="https://www.bizznist.com/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://www.bizznist.com/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="https://www.bizznist.com/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="https://www.bizznist.com/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="https://www.bizznist.com/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="https://www.bizznist.com/assets/css/main.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  {% include header.html %}
  <!-- End Header -->

  <main id="main">
    {{ content }}
  </main>

<style>
  #main{
    padding-top: 100px;
    padding-left: 75px;
    padding-right: 75px;
  }
@media (max-width: 768px) {
  #main {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
</style>

  <!-- ======= Footer ======= -->
  {% include footer.html %}
  <!-- End Footer -->

  <a href="/" class="scroll-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>

  <!-- Vendor JS Files -->
  <script src="https://www.bizznist.com/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://www.bizznist.com/assets/vendor/aos/aos.js"></script>
  <script src="https://www.bizznist.com/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="https://www.bizznist.com/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="https://www.bizznist.com/assets/vendor/php-email-form/validate.js"></script>

  <!-- Main JS File -->
  <script src="https://www.bizznist.com/assets/js/main.js"></script>

</body>
</html>

