---
layout: default
---

<section id="blog-details" class="blog-details">
  <div class="container" data-aos="fade-up">

    <article class="blog-details">

      {% if page.image %}
      <div class="post-img">
        <img src="{{ page.image }}" alt="{{ page.title }}" class="img-fluid">
      </div>
      {% endif %}

      <h2 class="title">{{ page.title }}</h2>

      <div class="meta-top">
        <ul>
          <li><i class="bi bi-person"></i> {{ page.author | default: "Admin" }}</li>
          <li><i class="bi bi-clock"></i>
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
          </li>
        </ul>
      </div>

      <div class="content">
        {{ content }}
      </div>

    </article>

  </div>
</section>
